.inputBox {
  width: 16rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: flex;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.addButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}
.addButton:hover {
  background-color: #3e8e41;
}
.getButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.getButton:hover {
  background-color: #007095;
}

.outputBox {
  box-sizing: border-box;
  display: inline;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
